*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
  text-transform: uppercase; }

h4 {
  margin: 1.5rem 0; }

h5 {
  color: white;
  font-weight: normal; }

a {
  text-decoration: none; }

header button {
  background: transparent;
  border: none;
  cursor: pointer; }

input {
  border: none;
  outline: none; }

body {
  font-family: "Poppins", sans-serif; }

h1, h2, h3 {
  color: #222222; }

p {
  color: #777777; }

.l-main-nav.is-active a:hover {
  color: #8490ff; }

.l-main-nav .is-active {
  color: #8490ff; }

.l-main-introduction,
.l-main-posts .l-main-feedback,
.l-background-color {
  background-color: #faf9ff; }

/*FOOTER*/
footer {
  background-color: #04091e; }
  footer h4 {
    color: #fff; }
  footer a {
    color: #8490ff; }

.l-main-wrap {
  max-width: 1140px;
  padding: 0 1rem 0 1rem;
  margin: auto; }

.l-main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto; }

.l-main-logo {
  display: flex;
  justify-content: center;
  width: 10rem; }
  .l-main-logo img {
    padding: 1rem;
    width: 100%; }

.l-main-nav {
  display: none; }
  .l-main-nav a {
    text-transform: uppercase;
    color: #ffffff; }

.l-main-hamburger {
  font-size: 2rem;
  z-index: 20; }

.l-main-nav.is-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
  height: 100vh;
  z-index: 10; }
  .l-main-nav.is-active ul {
    margin: 0;
    padding: 0; }
  .l-main-nav.is-active li {
    list-style: none;
    transition: 0.5s ease-in-out; }
  .l-main-nav.is-active a {
    display: block;
    text-decoration: none;
    padding: 1rem; }

.l-main-nav.is-active::after {
  position: absolute;
  content: "";
  top: 0;
  left: 100%;
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }

.l-main-introduction {
  padding: 2rem 0; }

.l-main-portrait {
  display: flex;
  justify-content: center; }

.m-menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: .5s ease-in-out;
  z-index: 20; }

.m-menu-hamburger {
  width: 2rem;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: .5s ease-in-out; }

.m-menu-hamburger::before, .m-menu-hamburger::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: .5s ease-in-out; }

.m-menu-hamburger::before {
  transform: translatey(-10px); }

.m-menu-hamburger::after {
  transform: translateY(10px); }

.m-menu-button.open .m-menu-hamburger {
  background: transparent;
  position: fixed; }

.m-menu-button.open .m-menu-hamburger::before {
  transform: rotate(45deg); }

.m-menu-button.open .m-menu-hamburger::after {
  transform: rotate(-45deg); }

.m-footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem; }

.m-main-portrait {
  display: flex;
  width: 20rem;
  margin-bottom: 1rem; }
  .m-main-portrait img {
    max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 720px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1024px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 720px) {
  .m-menu-button {
    display: none; }
  .l-main-header {
    display: flex;
    justify-content: space-between; }
  .l-main-nav {
    display: flex;
    position: relative;
    height: auto 0;
    align-items: center; }
  .l-main-nav li {
    display: inline-block; }
  .l-main-nav a {
    display: block;
    position: relative;
    padding: 1rem;
    color: black;
    transition: 0.2s ease-in-out; }
  .l-main-nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #8490ff;
    transition: transform 250ms;
    -webkit-transition: transform 250ms; }
  .l-main-nav a:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1); }
  .l-main-nav a:hover {
    color: #8490ff; } }
