$grid-columns: 12;
$grid-sizes:(
    md:720px,
    lg:1024px
);

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        flex: 0 0 ((100% / $grid-columns) * $i);
        max-width: ((100% / $grid-columns) * $i);
    }
}

@each $key, $value in $grid-sizes {
    @media screen and (min-width: $value) {
        @for $i from 1 through $grid-columns {
            .col-#{$key}-#{$i}{
                flex: 0 0 ((100% / $grid-columns) * $i);
                max-width: ((100% / $grid-columns) * $i);
            }
        }
    }
}